@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap%27');

$player_1_color: red;
$player_2_color: blue;

$theme_color_1: white;
$theme_color_2: black;

/* Code from https://stackoverflow.com/a/6900392 */
@mixin unselectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div.main-container{
    width: 100vw;
    height: 100vh;
    background-color: $theme_color_1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;

    div.score-board, div.bottom-row{
        width: 100%;
        max-width: 100ch;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        > div{
            :first-child{
                font-size: 500%;
            }
        }

        div.score-counter{
            @include unselectable;

            &.p1 :first-child{
                color: $player_1_color;
            }
            &.p2 :first-child{
                color: $player_2_color;
            }
        }

        div.current-turn{
            :first-child{
                transition: transform 0.3s ease-in-out;

                &.p1-turn{
                    color: $player_1_color;
                    transform: rotate(0deg);
                }
                &.p2-turn{
                    color: $player_2_color;
                    transform: rotate(180deg);
                }
            }
        }

        div.button{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            border-radius: 10%;
            background-color: $theme_color_2;
            padding: 3%;

            text-align: center;
            color: $theme_color_1;

            i{
                font-size: 200%;
            }
            p{
                @include unselectable;
                font-size: 120%;
                padding-top: 1ch;
            }

            &:active{
                background-color: lighten($theme_color_2, 40%);
            }
        }
    }

    div.game-board{
        $grid_block_size: calc(100% / 3);
        $block_size: 90%;
        $border_radius_size: calc(100% / 2); /* 100% is full circle */

        height: 40%;
        background-color: $theme_color_2;
        border-radius: calc(#{$border_radius_size} / 3);

        display: grid;
        grid-template-columns: $grid_block_size $grid_block_size $grid_block_size;
        grid-template-rows: $grid_block_size $grid_block_size $grid_block_size;

        // transition: transform 0.5s cubic-bezier(1, -0.25, 0.75, 0.75);

        > div.block{
            width: $block_size;
            height: $block_size;
            margin: calc(calc(100% - #{$block_size}) / 4);
            background-color: $theme_color_1;
            border-radius: $border_radius_size;

            transition: background-color 0.2s ease;

            &[state="1"]{
                background-color: $player_1_color;
            }
            &[state="2"]{
                background-color: $player_2_color;
            }
        }

        :nth-child(1){
            place-self: end;
        }
        :nth-child(2){
            place-self: end center;
        }
        :nth-child(3){
            place-self: end start;
        }

        :nth-child(4){
            place-self: center end;
        }
        :nth-child(5){
            place-self: center;
        }
        :nth-child(6){
            place-self: center start;
        }

        :nth-child(7){
            place-self: start end;
        }
        :nth-child(8){
            place-self: start center;
        }
        :nth-child(9){
            place-self: start;
        }
    }
}
