.image-carousel{
    overflow: hidden;

    .image-list{
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: row;
    
        transition: transform 1s ease-in-out;
    
        img{
            object-fit: cover;
        }
    }
}


#main-image-carousel{
    width: 50%;
}
