/* Code from https://stackoverflow.com/a/49421832/13921835 */
/* Modified from this comment https://stackoverflow.com/questions/36957904/media-queries-in-sass#comment94871206_49421832 */

$size__site_content_width: 1024px;

$media_queries : (
    'mobile'    : unquote("only screen and (max-width: 667px)"),
    'tablet'    : unquote("only screen and (min-width: 668px) and (max-width: $size__site_content_width)"),
    'desktop'   : unquote("only screen and (min-width: ($size__site_content_width + 1))"),
    'retina2'   : unquote("only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)"),
    'retina3'   : unquote("only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)"),
    'landscape' : unquote("screen and (orientation:landscape) "),    
    'portrait'  : unquote("screen and (orientation:portrait) ")
);

@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }

}