@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$textColor: #dddddd;
$buttonColor: #bbbbbb;
$buttonColorHover: lighten($buttonColor, 20%);
$buttonColorOff: darken($buttonColor, 55%);
$buttonColor_found: lime;
$buttonColor_cantbe: red;

/* GENERATE THESE AT https://codepen.io/sosuke/pen/Pjoqqp */
$buttonIconColor_green: brightness(0%) invert(58%) sepia(83%) saturate(2771%) hue-rotate(82deg) brightness(113%) contrast(130%);
$buttonIconColor_red: brightness(0%) invert(14%) sepia(94%) saturate(7483%) hue-rotate(3deg) brightness(103%) contrast(113%);
$buttonIconColor_off: brightness(0%) invert(16%) sepia(0%) saturate(0%) hue-rotate(347deg) brightness(97%) contrast(92%);

$animation: all .2s ease-out;

@mixin border{
    border: 2px solid $buttonColor;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5em;
    margin: 2px;
}
@mixin unselectable{
    /* Code from https://stackoverflow.com/a/2310809 */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*{margin:0;padding:0;box-sizing:border-box;}
body{
    background: black;
}
.loader{
    position:fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: black;
}
.bg-image{
    @include unselectable;
    /* Add the blur effect */
    -webkit-filter: blur(8px);
    filter: blur(8px);
    
    object-fit: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
}
.main-container{
    @include border;

    position: absolute;
    left: 10vw;
    top: 10vh;
    padding: 15px;

    max-height: 80vh;
    max-width: 80vw;

    background-color: rgba(0, 0, 0, 0.5);

    font-family: 'JetBrains Mono', monospace;
    color: $textColor;
}

/* Button related stuff */
.button{
    @include border;
    @include unselectable;

    text-align: center;

    transition: $animation;
    float: left;    
    background: black;
    box-sizing: content-box;

    p{
        transition: $animation;
        display: inline;
    }
    img{
        display: none;
    }

    &.button:hover:not(.button-off){
        border-color: $buttonColorHover;
        p{
            color: $buttonColorHover;
        }   
    }

    &.button-off{
        border: 2px solid $buttonColorOff;
        p{
            color: $buttonColorOff;
        }
        &.icon-button{
            img{
                filter: $buttonIconColor_off;
            }
        }
    }

    &.button-found{
        border: 2px solid $buttonColor_found !important;
        p{
            color: $buttonColor_found !important;
        }
        &.icon-button{
            img{
                filter: $buttonIconColor_green;
            }
        }
    }

    &.button-cantbe{
        border: 2px solid $buttonColor_cantbe !important;
        p{
            color: $buttonColor_cantbe !important;
        }
        &.icon-button{
            img{
                filter: $buttonIconColor_red;
            }
        }
    }
}
.buttons{
    margin: auto;
    width: max-content;
}
.icon-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img{
        display: inline;
        transition: $animation;
        margin-left: 10px;
    }
}

/* Text related stuff: */
.title{
    color: $textColor;
    h5{
        color: darken($textColor, 20%); 
        display: inline;
    }
}
a{
    &, &:link, :visited, :active{
        color: darken($textColor, 10%);
    }
    &:hover{
        color: $textColor;
    }
}

.fields{
    .selection-field, .output-field{
        @include border;
        float: left;
        width: calc(50% - 4px);
        height: 500px;
        overflow-y: auto;
    }
}

br{
    @include unselectable;
    clear: both;
    float: none;
}

.ghosts-it-could-be-container{
    @include border;
    float: left;
    min-height: calc(calc(53px * 5) + 7px);
    p{
        display: block;
    }
}

.ghosts-cant-be{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

    padding: 10px 0px;
}

.evidence-buttons{
    float: left;
}

.border{
    @include border;
}

/* Maybe can delete: */
.button-evidence-found{
    width: 230px;
}
