/* Code from https://stackoverflow.com/a/2310809 */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
/* GENERATE THESE AT https://codepen.io/sosuke/pen/Pjoqqp */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  color: #dddddd;
}

*:not(ol) {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

body div.main-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.main-container div.app-container {
  border: 2px solid #bbbbbb;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 0.5em;
  margin: 2px;
  padding: 1.5em;
  max-width: 80vw;
}

body div.main-container div.app-container div.title-container {
  text-align: center;
}

body div.main-container div.app-container div.challange-display {
  margin: 2em;
}

body div.main-container div.app-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.main-container div.app-container li {
  padding-bottom: 1em;
}

.button {
  border: 2px solid #bbbbbb;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 0.5em;
  margin: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  float: left;
  background: black;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* Learned from https://sass-lang.com/documentation/at-rules/control/each#destructuring */
}

.button p {
  display: inline;
}

.button img {
  display: none;
}

.button.button:hover {
  border-color: #eeeeee;
}

.button.button:hover p {
  color: #eeeeee;
}

.button.button-found {
  border-color: lime !important;
}

.button.button-found p {
  color: lime !important;
}

.button.button-found.icon-button img {
  -webkit-filter: brightness(0%) invert(58%) sepia(83%) saturate(2771%) hue-rotate(82deg) brightness(113%) contrast(130%);
          filter: brightness(0%) invert(58%) sepia(83%) saturate(2771%) hue-rotate(82deg) brightness(113%) contrast(130%);
}

.button.button-cantbe {
  border-color: red !important;
}

.button.button-cantbe p {
  color: red !important;
}

.button.button-cantbe.icon-button img {
  -webkit-filter: brightness(0%) invert(14%) sepia(94%) saturate(7483%) hue-rotate(3deg) brightness(103%) contrast(113%);
          filter: brightness(0%) invert(14%) sepia(94%) saturate(7483%) hue-rotate(3deg) brightness(103%) contrast(113%);
}

.button.button-off {
  border-color: #2f2f2f !important;
}

.button.button-off p {
  color: #2f2f2f !important;
}

.button.button-off.icon-button img {
  -webkit-filter: brightness(0%) invert(16%) sepia(0%) saturate(0%) hue-rotate(347deg) brightness(97%) contrast(92%);
          filter: brightness(0%) invert(16%) sepia(0%) saturate(0%) hue-rotate(347deg) brightness(97%) contrast(92%);
}
/*# sourceMappingURL=style.css.map */