@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap%27");
/* Code from https://stackoverflow.com/a/2310809 */
/* Code from https://stackoverflow.com/a/49421832/13921835 */
/* Modified from this comment https://stackoverflow.com/questions/36957904/media-queries-in-sass#comment94871206_49421832 */
@font-face {
  font-family: "roblox";
  src: url("Roblox Font Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'roblox';
}

.css-badge {
  position: fixed;
  bottom: 1em;
  left: 1em;
}

ul {
  padding-left: 1.5em;
}

.egg1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-animation: 3s ease-in-out fadein_easter_egg_1 forwards;
          animation: 3s ease-in-out fadein_easter_egg_1 forwards;
}

@-webkit-keyframes fadein_easter_egg_1 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadein_easter_egg_1 {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.fake-link {
  cursor: pointer;
  text-decoration: underline;
}

html {
  background-image: url(bg.jpg);
  background-repeat: repeat;
  background-size: cover;
  overflow-x: hidden;
}

div.main-div {
  width: 100vw;
  height: 100vh;
}

div.main-div div.top-spacer {
  width: 100%;
  height: 10%;
}

div.main-div div.bottom-spacer {
  width: 100%;
  height: 90%;
}

div.main-div div.header-content {
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  border-bottom: 1px solid white;
}

div.main-div div.header-content div.menu-option {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 90%;
  padding: 0 10px 0 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(76, 175, 80, 0.3);
  border: white 1px solid;
  border-radius: 30px;
}

div.main-div div.header-content div.menu-option:hover {
  background-color: rgba(45, 104, 47, 0.3);
}

div.main-div div.header-content .menu-icon {
  height: 100%;
  cursor: pointer;
  border-right: 1px solid white;
  background-color: rgba(76, 175, 80, 0.3);
}

div.main-div div.header-content .menu-icon:hover {
  background-color: rgba(45, 104, 47, 0.3);
}

div.main-div div.body-content {
  width: 100%;
  height: 90%;
  margin: auto;
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

div.main-div div.body-content div.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

div.main-div div.body-content div.product-info .product-image {
  background-color: rgba(76, 175, 80, 0.3);
  border-radius: 100px;
  width: 20em;
}

@media only screen and (max-width: 667px) {
  div.main-div div.body-content div.product-info .product-image {
    width: 60vw;
  }
}

div.main-div div.body-content div.body-section {
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}
/*# sourceMappingURL=style.css.map */